<div class="adminFee">
   <h3>Upfront cost</h3>
   <span>&#163;{{adminFee}}</span>
</div>
<div class="totalOwed">
   <h3>Total amount owed</h3>
   <span>&#163;{{loanAmount}}</span>
</div>
<div class="timeTaken">
   <h3>Length of repayments</h3>
   <span>{{monthsToRepay}} months</span>
</div>