<div class="adminFee">
   <h3>Admin fee</h3>
   <span>&#163;{{adminFee}}</span>
</div>
<div class="totalOwed">
   <h3>Total owed</h3>
   <span>&#163;{{loanAmount}}</span>
</div>
<div class="timeTaken">
   <h3>Time taken</h3>
   <span>{{yearsToRepay}} years</span>
</div>