<div class="adminFee">
   <button>
      <h3>Upfront cost</h3>
      <span>&#163;{{adminFee}}</span>
   </button>
</div>
<div class="totalOwed">
   <button>
       <h3>Total amount owed</h3>
       <span>&#163;{{loanAmount}}</span>
   </button>
</div>
<div class="timeTaken">
    <button>
       <h3>Length of repayments</h3>
       <span>{{monthsToRepay}} month(s)</span>
    </button>
</div>