@mixin fontStyling {
  font-family: 'Inter', sans-serif;
}

@mixin buttonStyling {
  background: $ioColor3;
  border-radius: 10px;
  height: 100px;
  min-height: 80px;
  width: 180px;
  min-width: 140px;
}
